<section class="NYT-Best-sellers">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <img src="./images/The_New_York_Times_logo.png" class="img-fluid"/>
        <h1 class="text-center my-4">Best Seller List</h1>
      </div>
      <div class="col-12 mt-4">
        <p class="text-center">Authoritatively ranked lists of books sold in the United States, sorted by format and genre.
        </p>
      </div>
      <div class="col-12">
        <hr/>
      </div>
    </div><!--/.row-->
    <div class="row mt-3">
      <div class="col-12">
           
            <div id="best-seller-titles" class="block-grid-xs-1 block-grid-sm-2 block-grid-md-4">
                  
            </div>
          
      </div>
    </div>
  </div>
 
</section>
<script>

  fetch('https://api.nytimes.com/svc/books/v3/lists.json?list=Combined%20Print%20and%20E-Book%20Fiction&api-key=<%= process.env.API_NYT %>', {
    method: 'get'
  })
    .then(response => { return response.json(); })
    .then(json => { updateBestSellers(json); })
    .catch(error => {
      console.log('NYT API Error: Defaulting to nytimes archival data.');
      updateBestSellers(nytimesArchive);
    });

  function updateBestSellers(nytimesBestSellers) {
    nytimesBestSellers.results.forEach(function (book) {
      var isbn = book.isbns[1].isbn10;
      var bookInfo = book.book_details[0];
      var lastWeekRank = book.rank_last_week || 'n/a';
      var weeksOnList = book.weeks_on_list || 'New this week!';
      var listing =
        '<div id="' + book.rank + '" class="block-grid-item">' +
        '<div class="book-item-wrapper shadow-sm"><div>' +
        '<img src="./images/no_book_cover.png" class="book-cover mx-auto d-block img-fluid" id="cover-' + book.rank + '">' +
        '</div>' + '<h4 class="text-center book-title"><a href="' + book.amazon_product_url + '" target="_blank">' + bookInfo.title + '</a></h4>' +
        '<h5 class="font-bold book-author">by ' + bookInfo.author + '</h5>' +
        '<p class="book-desc">' + bookInfo.description + '</p>' +
        '<div class="stats">' +
        '<hr>' +
        '<p>Last Week: ' + lastWeekRank + '</p>' +
        '<p>Weeks on list: ' + weeksOnList + '</p>' +
        '</div></div>' +
        '</div>';

      $('#best-seller-titles').append(listing);
      $('#' + book.rank).attr('nyt-rank', book.rank);

      updateCover(book.rank, isbn);
    });
  }

  function updateCover(id, isbn) {
    fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn + '&key=<%= process.env.GOOGLEBOOKS_API %>', {
      method: 'get'
    })
      .then(response => { return response.json(); })
      .then(data => {
        var img = data.items[0].volumeInfo.imageLinks.thumbnail;
        img = img.replace(/^http:\/\//i, 'https://');
        $('#cover-' + id).attr('src', img);
      })
      .catch(error => {
        console.log(error);
        console.log('Googel API Error: Defaulting to archival images for book #' + id + ' ISBN: ' + isbn);
        var index = id - 1;
        var img = archivedImages[index];
        $('#cover-' + id).attr('src', img);
      });
  }
</script>