<h2 class="my-3 font-bold">Edit Book</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="post">
<%- include('_form_fields') %>
    <a href="/books/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-outline-success">Update</button>
</form>