<footer class="bg-dark text-center mt-5 p-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                 Copyright &copy; 2019
            </div>
        </div>
    </div>
</footer>