<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-book"></i> My Book App</a>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors/new">Add Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books/new">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/best-sellers">New York Times Best Sellers</a>
      </li>
    </ul>

  </nav>
</header>