<h3 class="h3 my-3 font-bold">Edit Author</h3>

<form action="/authors/<%= author.id %>?_method=PUT" method="post">
    <div class="row">
        <div class="col-12 col-md-4">
                <%- include('_form_fields') %>
        </div>
    </div>

    <a href="/authors/<%= author.id %>" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-outline-success">Update</button>
</form>